
:root{

    --MAIN-TEXT-color:#323232; /* Color of text by default */

    --MAIN-TITLE-color: #ffffff; /* Color of title h1 */ /* fe642e */
    --MAIN-TITLE-BG-color: #666666; /* Color of title h1 */ /* fe642e */
    --MAIN-TITLES-TEXT-color: #777777; /* Color of titles h2-h3-h4-h5 */

    --MAIN-LINK-color:#4477aa; /* Color of links */
    --MAIN-LINK-HOVER-color:#4477aa; /* Color of hovered links */
    --MAIN-ANCHOR-color: #4477aa; /* color of anchors on titles */

    --DISABLED-LINK-color: #777777;

    --MENU-MAIN-BG-color:#ffffff;

    --MENU-HOME-LINK-color: #4477aa; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #ffffff; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color:#ffffff; /* Background color of menu header */ /*fecbb8, f6f8fa, ff7a4b */
    --MENU-HEADER-BORDER-color:#aaaaaa; /*Color of menu header border */

    --MENU-SEARCH-BG-color:#FFFFFF; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #FFFFFF; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #666666; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#ffffff; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#f2f2f4; /* Background color of other sections */ /* e4f5ff */
    --MENU-SECTIONS-LINK-color: #4477aa; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #000000;  /* Color of links in menu, when hovered */
    --MENU-SECTION-HOVER-CATEGORY-BG-color: #eeeef0;  /* Color of links in menu, when hovered */

    --MENU-SECTION-ACTIVE-CATEGORY-color: #4477aa; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #efeff1; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #0000FF; /* Color of <hr> separator in menu */

    --STATIC-FILE-LINK-color:#555555;

    --MENU-OPEN-FOLDER-color: #2b7dd0;
    --MENU-CLOSED-FOLDER-color: #4477aa;
}

body {
    color: var(--MAIN-TEXT-color) !important;
}

#top-bar {
    background: var(--MENU-SECTIONS-BG-color);
    border-radius: 2px;
    padding: .5rem 1rem;
    height: 2.5rem;
    min-height: 2.5rem;
}

h1 {
    color: var(--MAIN-TITLE-color) !important;
    background: var(--MAIN-TITLE-BG-color);
}

#body_title {
    font-size: 2rem !important;
    padding:  .2rem;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

h1 {
    font-family:    "Roboto", "Consolas", "Arial", "Calibri", "Open Sans", sans-serif;
    text-align: left;
    text-transform: none;
    font-weight: 300;
}

h2, h3, h4, h5, h6 {
    font-family:    "Roboto", "Consolas", "Arial", "Calibri", "Open Sans", sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    letter-spacing: -1px;
}


body {
    font-family:    "Roboto", "Consolas", "Arial", "Calibri", "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    font-size: 18px !important;
}


a {
    color: var(--MAIN-LINK-color);
}

.static_file_link, .static_file_link:hover {
    color: var(--STATIC-FILE-LINK-color) !important;
}


.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color) !important;
}

#sidebar ul li.visited > a .read-icon {
    color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar #header-wrapper {
    background-color: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    text-align: left;
    border-right: 1px solid var(--MENU-HEADER-BORDER-color);
}

.searchbox {
    background: var(--MENU-SEARCH-BG-color);
    border: 1px solid;
    border-color: var(--MENU-SECTIONS-BG-color);
}

#sidebar .highlightable {
    background-color: var(--MENU-SECTIONS-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-right: 1px solid var(--MENU-HEADER-BORDER-color);
    text-align: left;
}

#sidebar_menu ul ul li {
    font-family: monospace;
    font-size: 15px;
    font-weight: 200;
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar li {
    white-space: nowrap
}

#sidebar a:hover, #sidebar a.static_file_link:hover {
    /*color: var(--MENU-SECTIONS-LINK-HOVER-color);*/
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    /*color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;*/
}

#sidebar ul li > a:hover{
    background: var(--MENU-SECTION-HOVER-CATEGORY-BG-color);
}

#sidebar ul li > a.static_file_link {
    color: var(--STATIC-FILE-LINK-color);
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#body .tags a.tag-link {
    background-color: var(--MENU-HEADER-BG-color);
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-HEADER-BG-color);
}

#homelinks {
  background: var(--MENU-HEADER-BG-color);
  border-top: 1px solid var(--MENU-HEADER-BORDER-color);
  border-right: 1px solid var(--MENU-HEADER-BORDER-color);
}

#homelinks a {
  color: var(--MENU-HOME-LINK-color);
}

#homelinks a:hover {
  color: var(--MENU-HOME-LINK-HOVER-color);
}

video.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.menufolderopen {
    color: var(--MENU-OPEN-FOLDER-color);
    font-size: 1.3em;
}
li.active > a > .menufolderopen {
    color: var(--MENU-OPEN-FOLDER-color);
}

.menufolderclosed {
    color: var(--MENU-CLOSED-FOLDER-color);
}

.close-menu-button {
    color: var(--MAIN-LINK-color);
}

#toc-menu {
    color: var(--MAIN-LINK-color);
}

#toc-menu .toc_empty {
    color: var(--DISABLED-LINK-color);
}

.breadcrumbs {
    font-size: 1.2rem;
}
