
{{ define "show-section-files" }}
    {{ $curContext := .curContext }}

    {{ $bool_exists_file := false }}

    {{with .curContext}}
    {{ $showvisitedlinks := .Site.Params.showVisitedLinks }}

        {{range $curContext.Pages.ByTitle}}
            {{if .Params.is_source_file}}
                {{ if not $bool_exists_file }}
                    {{$bool_exists_file = true}}
                    <h2>Files</h2>
                    <ul>
                {{end}}
                {{ template "section-file" dict "curContext" . "currentnode" . "showvisitedlinks" $showvisitedlinks}}
            {{end}}
        {{end}}

        {{ if $bool_exists_file }}
            </ul>
        {{end}}

    {{end}}
{{end}}

{{ define "section-file" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{ $curContext := "curContext" }}
{{ $active_menu_item := .active_menu_item }}
{{ with $currentNode.File }}{{ end }}
    {{with .curContext}}

        {{$class := "dd-item"}}
        {{if eq $active_menu_item "yes"}}
            {{$class = "dd-item active"}}
        {{end}}

        <li data-nav-id="{{.RelPermalink}}" title="{{.Title}}" class="{{$class}}" active_menu_item="{{$active_menu_item}}">
            <a href="{{ .RelPermalink}}" class="static_file_link">
            {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
            {{ if $showvisitedlinks}}<i class="fas fa-check read-icon"></i>{{end}}
            </a>
        </li>

    {{ end }}
{{ end }}







{{ define "show-section-items" }}
    {{ $curContext := .curContext }}

    {{ $bool_exists_file := false }}

    {{with .curContext}}
    {{ $showvisitedlinks := .Site.Params.showVisitedLinks }}

        {{if eq .Site.Params.ordersectionsby "title"}}
            {{range $curContext.Pages.ByTitle}}
                {{if not .Params.is_source_file}}
                    {{ if not $bool_exists_file }}
                        {{$bool_exists_file = true}}
                        <h2>Folders</h2>
                        <ul>
                    {{end}}
                    {{ template "section-item" dict "curContext" . "currentnode" . "showvisitedlinks" $showvisitedlinks}}
                {{end}}
            {{end}}
        {{else}}
            {{range $curContext.Pages.ByWeight}}
                {{if not .Params.is_source_file}}
                    {{ if not $bool_exists_file }}
                        {{$bool_exists_file = true}}
                        <h2>Folders</h2>
                        <ul>
                    {{end}}
                    {{ template "section-item" dict "curContext" . "currentnode" . "showvisitedlinks" $showvisitedlinks}}
                {{end}}
            {{end}}
        {{end}}

        {{ if $bool_exists_file }}
            </ul>
        {{end}}

    {{end}}
{{end}}

{{ define "section-item" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{ $currentFileUniqueID := "" }}
{{ $curContext := "curContext" }}
{{ with $currentNode.File }}{{ $currentFileUniqueID = .UniqueID }}{{ end }}
    {{with .curContext}}

        {{$target_str := ""}}
        {{if eq .Params.type "HDBredirecthtml"}}
            {{$target_str = "'_blank'"}}
        {{end}}

        {{if and .IsSection (or (not .Params.hidden) $.showhidden)}}
            {{safeHTML .Params.head}}
            <li data-nav-id="{{.RelPermalink}}" title="{{.Title}}" class="dd-item">
                <a href="{{.RelPermalink}}" target='{{$target_str}}'>
                  {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
                  {{ if $showvisitedlinks}}
                    <i class="fas fa-check read-icon"></i>
                  {{ end }}
                </a>
            </li>
        {{else}}
            {{ if not .Params.Hidden }}
                <li data-nav-id="{{.RelPermalink}}" title="{{.Title}}" class="dd-item">
                    <a href="{{ .RelPermalink}}" ttarget='{{$target_str}}'>
                    {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
                    {{ if $showvisitedlinks}}<i class="fas fa-check read-icon"></i>{{end}}
                    </a>
                </li>
            {{ end }}
        {{end}}
    {{ end }}
{{ end }}