{{ partial "header.html" . }}

{{ template "render-html-file" dict "context" .}}

{{ partial "footer.html" . }}




<!------------------------------------------------------------------>





{{ define "render-html-file" }}
    {{with .context}}

    <script>
      function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
      }
    </script>
    <iframe id="show_html_iframe" src="{{.Params.source_file_full_name}}" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>

    {{end}}
{{end}}
