:root {

  /*** START THINGS WHICH ARE RELATED TO TIMELINE DIV WIDTH **************************************************************/

  /*  YOU MIGHT WANT TO USE JavaScript SIMILAR TO THIS IF YOU NEED TO RESIZE THE TIMELINE.

    <script>
      function refreshTimelineWidth() {
        var timeline_wrapper_width = document.getElementById('timeline_wrapper').clientWidth;
        var my_timeline_width = .90 * timeline_wrapper_width;
        var shim_width = my_timeline_width/3;
        var entry_min_width = my_timeline_width/5;
        var entry_max_width = my_timeline_width - shim_width;
        document.body.style.setProperty('--css-timeline-width', my_timeline_width + 'px');
        document.body.style.setProperty('--shim-width', shim_width + 'px');
        document.body.style.setProperty('--entry-min-width', entry_min_width + 'px');
        document.body.style.setProperty('--entry-max-width', entry_max_width + 'px');
      }
      window.addEventListener('load', refreshTimelineWidth, true);
      window.addEventListener('resize', refreshTimelineWidth, true);
    </script>

  */

  --css-timeline-width: 500px; /* !!! NOTE: CANNOT USE A % FOR THIS! WILL MESS UP THE calc() FUNCTION. */
  --shim-width:  calc(var(--css-timeline-width)/10);
  --entry-min-width: calc(var(--css-timeline-width)/2 - var(--shim-width));
  --entry-max-width: calc(var(--css-timeline-width) - var(--entry-min-width));

  /*** END THINGS WHICH ARE RELATED TO TIMELINE DIV WIDTH **************************************************************/




  --css-timeline-text-font-size:  14pt !important;
  --css-timeline-title-font-size:  18pt !important;

  --primary-color: #ffffff;
  --css-timeline-background-color: #ffffff;
  --css-timeline-border-color: #47c56e;
  --css-timeline-text-color: #555555;
  --css-timeline-title-color: #777777;
  --css-timeline-line-color: #ff6600;
  --css-timeline-dot-color: #ff6600;
  --css-timeline-dot-border-color: #893000;

  --css-time-line-curve-radius: 3em;
  --css-time-line-info-curve-radius: 2.3em;

  --line-thickness: .3em;
  --margin-calc: calc( -0.45 * var(--line-thickness));
  --margin-calc-first: calc( -.45 * var(--line-thickness));
  --margin-calc-last: calc( -0.45 * var(--line-thickness));

  --dot-size: .7em;
  --dot-offset-calc: calc( -1.30em - var(--dot-size) - var(--line-thickness));
  --dot-offset-calc-first: calc( -1.35em - var(--dot-size) - var(--line-thickness));

  --line-plug: 2px;
}

/* Timeline Container */
.css-timeline {
  width:  var(--css-timeline-width);
  font-size: var(--css-timeline-text-font-size);
  background: var(--primary-color);
  /* background: linear-gradient(#000, #000) no-repeat center/2px 100%;*/ /* For debugging */
  margin: .5em auto;
  padding: 0.0em;
}

.css-timeline-outer {
}

/* Card container */
.css-timeline-card {
  width: 100%;
  display:  flex;
  flex-direction: row;
}

.css-timeline-entry {
  flex: 5 1 auto;
  position: relative;
  padding-top: 1.0em;
  padding-left: 1.0em;
  padding-right: 1.0em;
  padding-bottom: 1.0em;
  margin: 0em;
  /* width:  var(--entry-max-width); */
  /* max-width: var(--entry-max-width); */
  /* min-width: var(--entry-min-width); */
}

.css-timeline-entry::before {
  position: absolute;
  border: solid var(--css-timeline-line-color);
  content: "";

  margin-top: var(--margin-calc);
  margin-bottom: var(--margin-calc);
}

.css-timeline-card:nth-child(odd) > .css-timeline-entry::before {
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: calc( var(--css-timeline-width)/2 - calc(var(--css-timeline-width) - (var(--shim-width) + 100%)) + var(--line-plug) );

  border-width: var(--line-thickness) 0 var(--line-thickness) var(--line-thickness);
  border-radius: var(--css-time-line-curve-radius) 0 0 var(--css-time-line-curve-radius);
}

.css-timeline-card:nth-child(even) > .css-timeline-entry::before {
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: calc( var(--css-timeline-width)/2 - calc(var(--css-timeline-width) - (var(--shim-width) + 100%)) + var(--line-plug) );

  border-width: var(--line-thickness) var(--line-thickness) var(--line-thickness) 0;
  border-radius: 0 var(--css-time-line-curve-radius) var(--css-time-line-curve-radius) 0;
}

/* Removing the border if it is the first css-timeline-card */
.css-timeline-card:first-child > .css-timeline-entry::before  {
  margin-bottom: var(--margin-calc-first);
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last css-timeline-card  and it's odd */
.css-timeline-card:last-child:nth-child(odd) > .css-timeline-entry::before  {
  margin-top:  var(--margin-calc-last);
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last css-timeline-card  and it's even */
.css-timeline-card:last-child:nth-child(even) > .css-timeline-entry::before  {
  margin-top: var(--margin-calc-last);
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the css-timeline */
.css-timeline-info {
  position: relative;
  padding-top: .5em;
  padding-left: calc(var(--css-time-line-curve-radius)/4);
  padding-right: calc(var(--css-time-line-curve-radius)/4);
  padding-bottom: 1em;
  background: var(--css-timeline-background-color);
  color: var(--css-timeline-text-color);
  border: .2em dotted var(--css-timeline-border-color);
  border-radius: var(--css-time-line-info-curve-radius);
  z-index:  99;
}

.css-timeline-info p {
  margin: 0;
}

.css-timeline-info ol, .css-timeline-info ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Title of the css-timeline-card */
.css-timeline-title {
  font-size: var(--css-timeline-title-font-size);
  color: var(--css-timeline-title-color) !important;
  position: relative;
  margin-top:  0em !important;
  margin-bottom:  1em !important;
}

/* Timeline dot  */
.css-timeline-title::before {
  content: "";
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  background: var(--css-timeline-dot-color);
  border-radius: 999px;
  border: 3px solid var(--css-timeline-dot-border-color);
}

/* text right if the css-timeline-card is even  */
.css-timeline-card:nth-child(even) .css-timeline-title {
  text-align: right;
}

/* setting dot to the left if the css-timeline-card is odd */
.css-timeline-card:nth-child(odd) .css-timeline-title::before {
  left: var(--dot-offset-calc);
  top: .0em;
}

/* setting dot to the right if the css-timeline-card is odd */
.css-timeline-card:nth-child(even) .css-timeline-title::before {
  right: var(--dot-offset-calc);
  top: .0em;
}

/* setting dot to the left for the first css-timeline-card */
.css-timeline-card:first-child .css-timeline-title::before {
  left: var(--dot-offset-calc-first);
  top: .0em;
}

.css-timeline-card:nth-child(even) {
  justify-content: left;
}

.css-timeline-card:nth-child(odd)  {
  justify-content: right;
}

.css-timeline-card:nth-child(even) > .shim_1 {
  flex: 0 5 auto;
  width:  var(--shim-width);
  /* background:  #efefff; */
}

.css-timeline-card:nth-child(odd) > .shim_2 {
  flex: 0 5 auto;
  width:  var(--shim-width);
  /* background:  #ffefef; */
}

