/* /*
:root{

    --MAIN-TEXT-color:#323232; /* Color of text by default */

    --MAIN-TITLE-color: #ffffff; /* Color of title h1 */ /* fe642e */
    --MAIN-TITLE-BG-color: #666666; /* Color of title h1 */ /* fe642e */
    --MAIN-TITLES-TEXT-color: #777777; /* Color of titles h2-h3-h4-h5 */

    --MAIN-LINK-color:#4477aa; /* Color of links */
    --MAIN-LINK-HOVER-color:#4477aa; /* Color of hovered links */
    --MAIN-ANCHOR-color: #4477aa; /* color of anchors on titles */

    --DISABLED-LINK-color: #bbbbbb;

    --TOP-BAR-BG-color: #ffe7da; /*f2f2f4*/ /*e0e7ef*/ /* #6ea1d5 */
    --TOP-BAR-BG-color-2: #eff8ff;

    --MENU-MAIN-BG-color:#ffffff;
    --MENU-ALT-BG-color: #ffb68e;

    --MENU-ITEM-BG-color:#35a7ff;       /* e0e7ef */
    --MENU-ITEM-ACTIVE-BG-color:#47c56e;    /* e0e7ef */

    --MENU-ITEM-TEXT-color:#ffffff;
    --MENU-ITEM-TEXT-DIM-color: #dddddd;

    --MENU-HOME-LINK-color: #4477aa; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #ffffff; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color:#ffffff; /* Background color of menu header */ /*fecbb8, f6f8fa, ff7a4b */
    --MENU-HEADER-BORDER-color:#dddddd; /*Color of menu header border */

    --MENU-SEARCH-BG-color:#FFFFFF; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #FFFFFF; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #666666; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#ffffff; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#ffffff; /* Background color of other sections */ /* f2f2f4 */
    --MENU-SECTIONS-LINK-color: #4477aa; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #000000;  /* Color of links in menu, when hovered */
    --MENU-SECTION-HOVER-CATEGORY-BG-color: #f2f2f4;  /* Color of links in menu, when hovered */

    --MENU-SECTION-ACTIVE-CATEGORY-color: #4477aa; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #f2f2f4; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #000000; /* Color of <hr> separator in menu */

    --STATIC-FILE-LINK-color:#555555;

    --MENU-OPEN-FOLDER-color: #2b7dd0;
    --MENU-CLOSED-FOLDER-color: #4477aa;
}

/* ############################################################################################################### */

 #logo {
     width: 270px;
}
 .searchbox {
     width: 333px;
}
 #sidebar #header-wrapper {
     width: 350px;
}

 #sidebar_menu {
     width: 400px;
}

 #sidebar_menu:hover {
     width: 900px;
}

 #body {
     position: relative;
     margin-left: 400px;
     min-height: 100%;
}

#body_title {
    margin-left: 5%;
    margin-right: 5%;
}

 #body-inner {
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

 #breadcrumbs .links {
     display: inline;
}

 @media only all and (max-width: 59.938em) {

     #sidebar #header-wrapper {
         width: 230px;
    }
     #sidebar_menu {
         width: 230px;
    }
     #sidebar_menu:hover {
         width: 700px;
    }
     #body {
         margin-left: 230px;
    }
     #logo {
         width: 220px;
    }
     .searchbox {
         width: 215px;
    }
    #body_title {
        margin-left: 1%;
        margin-right: 1%;
    }
     #body-inner {
        margin-left: 2%;
        margin-right: 2%;
    }
     #breadcrumbs .links {
         display: inline;
    }
}
 @media only all and (max-width: 47.938em) {

     #sidebar  {
         left: -400px;
    }
     #sidebar #header-wrapper{
         width: 400px;
    }
     #sidebar_menu  {
         width: 400px;
    }
      #sidebar_menu:hover{
         width: 400px;
    }
     #body {
         margin-left: 0;
         width: 100%;
    }
    #body_title {
        margin-left: 1%;
        margin-right: 1%;
    }
     #body-inner {
        margin-left: .1rem;
        margin-right: .1rem;
        padding-left: .1rem;
        padding-right: .1rem;
    }
     #logo {
         width: 220px;
    }
     .searchbox {
         width: 220px;
    }
     .sidebar-hidden #body {
         margin-left: 400px;
    }
     .sidebar-hidden #overlay {
         position: absolute;
         background: rgba(0, 0, 0, 0.7);
    }
     #breadcrumbs .links {
         display: inline;
    }
}

/* ############################################################################################################### */


body {
    color: var(--MAIN-TEXT-color) !important;
}

h1 {
    color: var(--MAIN-TITLE-color) !important;
    background: var(--MAIN-TITLE-BG-color);
}

#body_title {
    font-size: 2rem !important;
    padding:  .2rem;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

h1 {
    font-family:    "Roboto", "Consolas", "Arial", "Calibri", "Open Sans", sans-serif;
    text-align: left;
    text-transform: none;
    font-weight: 300;
}

h2, h3, h4, h5, h6 {
    font-family:    "Roboto", "Consolas", "Arial", "Calibri", "Open Sans", sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    letter-spacing: -1px;
}


body {
    font-family:    "Roboto", "Consolas", "Arial", "Calibri", "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    font-size: 18px !important;
}


a {
    color: var(--MAIN-LINK-color);
}

.static_file_link, .static_file_link:hover {
    color: var(--STATIC-FILE-LINK-color) !important;
}


.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color) !important;
}

#sidebar ul li.visited > a .read-icon {
    color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    background-color: var(--MAIN-LINK-HOVER-color);
}

#top-bar {
    /* background: var(--TOP-BAR-BG-color); */
    background-image: linear-gradient(to left, var(--TOP-BAR-BG-color-2) , var(--TOP-BAR-BG-color));
    border-radius: 0em 0em 0em 2em;
    padding: .5rem 1.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
}

#top-bar #breadcrumbs {
    width:  100%;
}

#top-bar .links {
    color: var(--MAIN-LINK-color);
    border-radius: 0em 0em 0em 2em;
    padding: .5rem 1.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
    font-size: 16px;
}

#top-bar .links a {
    color: var(--MAIN-LINK-color);
}

#sidebar #header-wrapper {
    background-color: var(--MENU-HEADER-BG-color);
    border-radius: 0em 0em 1em 0em;
    color: var(--MENU-SEARCH-BOX-color);
    text-align: left;
    border-top: 0px solid var(--MENU-HEADER-BORDER-color);
    border-bottom: 0px solid var(--MENU-HEADER-BORDER-color);
    border-left: 0px solid var(--MENU-HEADER-BORDER-color);
    border-right: 0px solid var(--MENU-HEADER-BORDER-color);
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 1rem;
}

#sidebar_menu {
    /* background-color: var(--MENU-ALT-BG-color); */
    background-image: linear-gradient(to right, var(--TOP-BAR-BG-color-2) , var(--MENU-ALT-BG-color)); */
    color: var(--MENU-SEARCH-BOX-color);
/*     border-right: 1px solid var(--MENU-HEADER-BORDER-color);
    border-top: 1px solid var(--MENU-HEADER-BORDER-color); */
    border-radius: 0em 1em 1em 0em;
    padding-top: .6rem;
    text-align: left;
}

.searchbox {
    background: var(--MENU-SEARCH-BG-color);
    border: 1px solid;
    border-color: var(--MENU-HEADER-BORDER-color);
    border-radius: .5em;
}

#sidebar_menu ul ul li {
    font-family: monospace;
    font-size: 15px;
    font-weight: 200;
}

#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar ul.topics > li {
    background:  var(--MENU-ITEM-BG-color);
    border: 0px solid var(--MENU-ITEM-BG-color);
    border-radius: 0em 1em 1em 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
}

#sidebar ul.topics > li.parent  {
    background:  var(--MENU-ITEM-ACTIVE-BG-color);
    border: 0px solid var(--MENU-ITEM-ACTIVE-BG-color);
}

#sidebar ul.topics > li.active {
    background:  var(--MENU-ITEM-ACTIVE-BG-color);
    border: 0px solid var(--MENU-ITEM-ACTIVE-BG-color);
}

#sidebar ul.topics > li > a {
    color:  var(--MENU-ITEM-TEXT-color);
    font-size: 18px;
    font-weight: 600;
}

#sidebar ul.topics > li.active > a, #sidebar ul.topics > li > a:hover {
    background: var(--MENU-ITEM-ACTIVE-BG-color);
    color:  var(--MENU-ITEM-TEXT-color) !important;
}

#sidebar ul.topics > li > a > .menufolderopen {
    color:  var(--MENU-ITEM-TEXT-color);
}

#sidebar ul.topics > li > a > .menufolderclosed {
    color:  var(--MENU-ITEM-TEXT-DIM-color);
}

#sidebar ul.topics > li ul {
    margin-right: 0em;
    border-radius: 0em 0em 1em 1em;
}

#sidebar ul.topics > li > ul {
    padding-left: 1em;
    padding-right:2em;
    padding-bottom: 1em;
}

#sidebar ul.topics > li.parent > ul {
    background:  var(--MENU-MAIN-BG-color);
}

#sidebar ul.topics > li.active > ul {
    background:  var(--MENU-MAIN-BG-color);
}

#sidebar ul.topics > li > a {
    padding-left: 1em !important;
}

#sidebar ul.topics > li a {
    overflow:  hidden;
    text-overflow: ellipsis;
    padding-left: .5em;
    padding-right:1em;
    border-radius: 0em 1em 1em 1em;
}

#sidebar ul.topics > li > ul {
    background:  var(--MENU-MAIN-BG-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar li {
    white-space: nowrap
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
}

#sidebar ul li > a:hover{
    background: var(--MENU-SECTION-HOVER-CATEGORY-BG-color);
}

#sidebar ul li > a.static_file_link {
    color: var(--STATIC-FILE-LINK-color);
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#body .tags a.tag-link {
    background-color: var(--MENU-HEADER-BG-color);
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-HEADER-BG-color);
}

#homelinks {
  background: var(--MENU-HEADER-BG-color);
  border-top: 1px solid var(--MENU-HEADER-BORDER-color);
  border-bottom: 0px solid var(--MENU-HEADER-BORDER-color);
  border-left: 1px solid var(--MENU-HEADER-BORDER-color);
  border-right: 1px solid var(--MENU-HEADER-BORDER-color);
}

#homelinks a {
  color: var(--MENU-HOME-LINK-color);
}

#homelinks a:hover {
  color: var(--MENU-HOME-LINK-HOVER-color);
}

video.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

#show_html_iframe {
    display: block;
    border: none;
    width: 100%;
}

#sidebar-toggle {
    color: var(--MAIN-LINK-color);
}

.menufolderopen {
    color: var(--MENU-OPEN-FOLDER-color);
    font-size: 1.3em;
}

.menufolderclosed {
    color: var(--MENU-CLOSED-FOLDER-color);
}

.close-menu-button {
    color: var(--MAIN-LINK-color);
}

#toc-menu {
    color: var(--MAIN-LINK-color);
}

#toc-menu .toc_empty {
    color: var(--DISABLED-LINK-color);
}

.breadcrumbs {
    font-size: 1.2rem;
}

.progress {
    background-color: var(--MENU-MAIN-BG-color);
    color: var(--MAIN-LINK-color);
    border: thin solid #ECECEC;
    z-index: 200;
} */ */